/* VARIABLES */

:root {
  --dark-cyan: #0E8784;
  --dark-grey-blue: #333D4B;
  --light-cream: #FEFCF7;
  --grey: #83888F;
  --blue-hover: #66D2CF;
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-700 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fraunces-900 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: local(''),
    url('../fonts/fraunces-v23-latin-900.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/fraunces-v23-latin-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}

/* GENERAL */

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FEFCF7;
  font-family: "Barlow", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1328px;
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}

.site-header {
  position: relative;
  z-index: 1;
  padding: 32px 0 41px 0;
}

.site-header__active .site-nav {
  display: block;
}

.site-nav {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 2;
  display: block;
  width: 100%;
  height: calc(100vh - 91px);
  background-image: linear-gradient(360deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
}

.site-header__active .site-header__btn {
  background-image: url("../images/cancel.svg");
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__btn {
  width: 16px;
  height: 15px;
  border: none;
  background-color: transparent;
  background-image: url("../images/hamburger.svg");
  background-repeat: no-repeat;
}

.site-nav {
  display: none;
}

.site-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.site-nav__item {
  display: inline-block;
  text-align: center;
}

.site-nav__item:not(:last-child) {
  margin-bottom: 32px;
  /* margin-right: 33px; */
}

.site-nav__link {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.hero__wrapper {
  padding: 27px 0;
  background-image: url("../images/hero-backPh.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;

}

.hero__infos {
  width: 100%;
  max-width: 583px;
  padding: 6px;
  text-align: center;
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  line-height: 40px;
  color: var(--light-cream);
}

.hero__text {
  margin-bottom: 39px;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--light-cream);
  opacity: 0.8;
}

.plan {
  display: inline-block;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--light-cream);
  padding: 15px 31px;
  background-color: var(--dark-cyan);
  border-radius: 6px;
}

/* Collection */

.collection {
  padding: 120px 0;
  background-image: url("../images/collectionPh.png");
  background-repeat: no-repeat;
  background-position: top 20px center;
  background-size: contain;
}

.collection__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}


.collection__item::before{
  display: block;
  width: 200px;
  height: 150px;
  margin: 0 auto;
  background-image: url("../images/granPh.png");
  content: "";
  background-repeat: no-repeat;
}

.collection__item:nth-child(1)::before{
  background-image: url("../images/granPh.png");
  background-repeat: no-repeat;
}


.collection__item:nth-child(2)::before{
  background-image: url("../images/plantoPh.png");
}

.collection__item:nth-child(3)::before{
  background-image: url("../images/picolloPh.png");
}
.collection__item:nth-child(4)::before{
  background-image: url("../images/danchePh.png");
}

.collection__item:not(:last-child){
  margin-bottom: 48px;
}

.collection__wrapper {
  max-width: 282px;
  text-align: center;
}

.collection__title {
  margin-bottom: 16px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: var(--dark-grey-blue);
}

.collection__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--dark-grey-blue);

}







/* MEDIA  */
@media only screen and (min-width:321px) {
  .hero__wrapper {
    background-image: url("../images/hero-backTb.png");
  }


}

@media screen and (min-width: 360px) {
  .hero__wrapper {
    padding: 57px 0;
  }

  .hero__info {
    padding: 0 24px;
  }
}

@media screen and (min-width:415px) {
  .hero__infos {
    padding: 26px;
  }
}


@media screen and (min-width: 455px) {
  .hero__wrapper {
    padding: 55px 0;
  }

  .hero__infos {
    max-width: 498px;
    padding-left: 54px;
    text-align: left;
  }

  .hero__title {
    font-size: 48px;
  }


  .collection__wrapper{
    max-width: 420px;
  }


}

@media only screen and (min-width:620px) {

  .container {
    padding: 0 40px;
  }

  .site-header {
    padding-top: 43px;
    padding-bottom: 45px;
  }

  .site-nav {
    position: static;
    display: block;
    width: 330px;
    height: auto;
    background-color: transparent;
  }

  .logo__img {
    width: 236px;
    height: 26px;
  }

  .site-header__btn {
    display: none;
  }

  .site-nav__list {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0;
  }

  .site-nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 33px;
  }

  .site-nav__link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: var(--grey);
  }

  .collection {
    padding-top: 144px;
    padding-bottom: 129px;
    background-image: url("../images/collectionTb.png");
    background-position: top 80px center ;
  }

  .collection__item{
    display: flex;
  }
  .collection__item::before{
    width: 255px;
    height: 193px;
    background-image: url("../images/dancheDk.png");
    margin-right: 36px;
  }
  .collection__wrapper{
    text-align: left;
  }
  .collection__title{
    margin-bottom: 24px;
  }
}

@media only screen and (min-width:768px) {
  .site-nav__link {
    transition: color 0.2s ease-in-out;
  }

  .site-nav__link:hover {
    color: var(--dark-grey-blue);
  }

  .hero__wrapper {
    padding: 68px 0;
    background-image: url("../images/hero-backDk.png");
  }

  .hero__infos {
    max-width: 596px;
    padding-left: 85px;
  }

  .hero__title {
    font-size: 71px;
    line-height: 72px;
  }

  .hero__text {
    font-size: 16px;
  }

  .plan {
    transition: background-color 0.2s ease-in-out;
  }

  .plan:hover {
    background-color: #66D2CF;
  }

  .collection {
    background-image: url("../images/collectionDk.png");
    background-position: center calc(50% - 405px);
  }

  .collection__list{
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }
  .collection__item{
    flex-direction: column;
  }

 
  .collection__item:nth-child(1)::before{
    background-image: url("../images/grandDk.png");
  }
  .collection__item:nth-child(2)::before{
    position: relative;
    top: 21px;
    left: 20px;
    background-image: url("../images/olantoDk.png");
  }
  
  .collection__item:nth-child(3)::before{
    background-image: url("../images/picolloDk.png");
  }
  .collection__item:nth-child(4)::before{
    background-image: url("../images/dancheDk.png");
  }

  .collection__wrapper{
    max-width: 255px;
    text-align: center;
  }

  .collection__text{
    font-style: 16px;
  }
}

@media only screen and (min-width:1350px) {
  .collection {
    background-position: center calc(50% - 420px);
  }
}